dialog {
  background-color: var(--background-tertiary);
  margin: auto;
  padding: 2.5rem 1.25rem;
  border-radius: .75rem;
  position: relative;
  & img {
    position: absolute;
    top: 8px;
    right: 6px;
    cursor: pointer;
  }
}

@media (width >= 85.375rem) {
  dialog {
    padding: 2.5rem 2.5rem;
  }
}
