.schedules-by-period {
  margin-block: 2rem 3.5rem;
  display: flex;
  flex-direction: column;
  gap: .75rem;
  & .schedule-period {
    width: 100%;
    background-color: var(--background-tertiary);
    border-radius: .625rem;
    & header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: .875rem 1.25rem;
      margin: 0;
      border-bottom: 1px outset var(--content-secondary);
      & div {
        display: flex;
        flex-direction: row;
        gap: .75rem;
        & img {
          max-width: 1.25rem;
          max-height: 1.25rem;
          object-fit: cover;
        }
        & span {
          color: var(--content-primary);
        }
      }
      & strong {
        color: var(--content-secondary);
      }
    }
    & .period {
      margin: 1.25rem;
      display: grid;
      gap: 1rem;
      & li:last-child {
        border-bottom: 0;
      }
      & li {
        list-style: none;
        display: flex;
        flex-direction: column;
        padding-block: .75rem;
        border-bottom: 1px outset var(--content-secondary);
        & div {
          display: flex;
          align-items: center;
          & .schedule-hours {
            margin-right: .75rem;
            color: var(--content-primary);
          }
          & .pet-name {
            color: var(--content-primary);
            margin-right: .25rem;
          }
          & .pet-owner {
            color: var(--content-secondary);
          }
        }
        & .service-description {
          color: var(--content-secondary);
        }
        & .cancel {
          margin-top: .5rem;
          align-self: flex-end;
        }
      }
    }
  }
}

@media (width >= 85.375rem) {
  .schedules-by-period {
    margin-bottom: 0;
    & .schedule-period {
      & .period {
        gap: 0;
        & li {
          padding: 1rem;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          margin-top: .75rem;
          & div {
            display: flex;
            align-items: center;
            & .schedule-hours {
              margin-right: 2rem;
            }
            & span {
              margin-right: .375rem;
            }
          }
          & .cancel {
            margin-top: 0;
            align-self: center;
          }
        }
      }
    }
  }
  
}