form {
  max-width: 19.375rem;
  display: flex;
  flex-direction: column;
  & fieldset {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    & legend {
      color: var(--content-primary);
    }
    & p {
      color: var(--content-secondary);
      margin-bottom: .75rem;
    }
    & .date-hours {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
  & .close-modal {
    margin-top: 1.75rem;
    align-self: flex-end;
  }
}

@media (width >= 85.375rem) {
  form {
    max-width: 25rem;
    & fieldset {
      & .date-hours {
        flex-direction: row;
        & .input-wrapper {
          flex: 1;
        }
      }
    }
  }
}